<!DOCTYPE html>
<html>
<head>
<style>
body
{
	padding:100px;
}
</style>

<script langauge="javascript" type="text/javascript">
var looper;
var degrees = 0;

function rotateAnimation(image,speed){
	var element = document.getElementById(image);
	element.style.WebkitTransform = "rotate("+degrees+"deg)";
	looper = setTimeout('rotateAnimation(\''+image+'\','+speed+')',speed);
	degrees+=10;
	if(degrees > 359) {
		degrees = 1;
	}
	document.getElementById("status").innerHTML = "rotate("+degrees+"deg)";
}

</script> 
</head>

<body>
	<img id="allen" src="/assets/allen.jpg" />
	<script>rotateAnimation("allen",1);</script>
	<h1 styple="width:150px;" id="status"></h2>
</body>
</html>