	<footer class="footer">
  		<small>
    		<a href="https://www.facebook.com/johnjohnshen">JohnJohnshen production</a> - all rights reserved
    			
  		</small>
  		<nav>
   			<ul>
      			<li><%= link_to "About", about_path %></li>
     			<li><%= link_to "Contact", contact_path %></li>
				<li><%= link_to "Help",    help_path %></li>
      			<li><a href="https://www.facebook.com/groups/304032819661649/">Group</a></li>
    		</ul>
 	     </nav>
	</footer>