		<header class="navbar navbar-fixed-top navbar-inverse">
			<div class="navbar-inner">
				<div class="container">
					<%= link_to "基友团", root_path, id:"logo" %>
					<nav>
						<ul class="nav pull-right">
							<li><%= link_to "主页", root_path %></li>
							<li><%= link_to "成员", member_path %></li>
							<li><%= link_to "Sign in", '#' %></li>	
						</ul>
						  <form class="navbar-form pull-left">
                                <a class="btn btn-info" href="#">Buy Now</a>
                          </form>
					</nav>
				</div>
			</div>
		</header>